.App {
  text-align: center;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  flex: 1;

}
.body {
  display: flex;
  flex-direction: row;
  height: 400px;
  flex: 2;
  justify-content: space-between;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}
.footer {

  height: auto;
  background-color:#ccc7b8;
  justify-content: space-between;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  flex: 1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.NavMenu {
  flex: 1;
}

.MainArea {
  flex: 5;


}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
